@import './reset.css';

* {
  box-sizing: border-box;
}

.slider-container {
  display: flex;
  max-width: 500px;
  position: relative;
}

.slide {
  width: 100%;
}

.btn-slider {
  position: absolute;
  color: aqua;
  font-size: 3rem;
  font-weight: bold;
  ;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 10px;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.next-btn {
  right: 0;
}

.btn-slider:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-slider:focus {
  color: red;
}


/*Cards*/
:root {
  font-family: sans-serif;
  font-size: 18px;
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.cardContainer {
  width: 320px;
}
.cardWrapper{
  margin: 2rem 1rem;
  border: 4px solid;
}
.cardImageWrapper {
  display: flex;
  justify-content: center;
  background-color: black;
  width: inherit;
  height: 320px;
  position: relative;
}

.cardImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center;
}

.initials {
  font-size: 2rem;
  color: #fff;
  align-self: center;
}
.contentWrapper{
  padding: 10px;
}
.cardName{
  font-weight: bold;
  margin: 1rem 0;
}